#hero {
    background-image: url("/assets/img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    background-color: rgba(61, 61, 61, 0.643);
    background-blend-mode: multiply;
}

#hero h1 {
    font-weight: normal
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-position: inside;
}

ol { 
    counter-reset: item;
    list-style-type: none;
}

.why-us li { 
    display: block;

 }
 
 .why-us li:before { 
    content: counter(item, decimal-leading-zero) " "; 
    counter-increment: item;
}

h5 {
    font-weight: bold;
}

/* large */
@media screen and (max-width: 1199px) {
    #img-rest {
        width: 40vw
    }
   
}

/* medium */
@media screen and (max-width: 991px) {
    #img-rest {
        width: 100%
    }
    .rist-cont {
        width: 75vw
    }
    
}

/* small and x-small */
@media screen and (max-width: 767px) {
    .rist-cont {
        width: 95vw
    }
}