<div class="container-fluid container-md">
    <h1 class="my-4 text-center">Get to know us</h1>
    <p>"We are Gino and Daniele, the two chefs of Gambero Rosso. We've been friends since we know each other and it has
        always been about eating.</p>
    <p>No weekend in our youth without experimenting while our parents and grannies had been to church. We'll never
        forget the lectures about not using our grandma's best pan or not turning on the oven without adults in the
        house.</p>
    <p>We've always been curious about food and this curiosity has been tying us togheter so strongly, that we founded
        the Gambero Rosso 18 years ago.</p>
    <p>We'd like to share this curiosity and courage to taste different things that you've known. Follow us on a new
        path, and you will (re)discover a joy of eating you've never known before."</p>
    <div class="d-flex flex-column flex-lg-row flex-start gap-3 my-5 text-center">
        <figure>
            <img src="./assets/img/gino.jpg" alt="picture of chef Gino" class="img-thumbnail">
            <figcaption class="figure-caption">Gino decorating extremely precise</figcaption>
        </figure>
        <figure>
            <img src="./assets/img/daniele.jpg" alt="picture of chef Daniele" class="img-thumbnail">
            <figcaption class="figure-caption">Daniele while preparing the plates for a wedding</figcaption>
        </figure>
        <figure class="align-self-center">
            <blockquote class="blockquote pb-3">
                <p>Friendship, curiosity and the love for food are the key ingredients we have been sharing all of our
                    lives.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Philosophy of Gino & Daniele from <span class="fst-italic">Gambero Rosso</span>, Padova, Italy
            </figcaption>
        </figure>
    </div>
</div>