<section class="specials text-center px-2">
    <div class="w-75 mx-auto">
        <h1>Upcoming specials</h1>
        <p>Every now and then it's time to try something new.</p>
        <p>We italians are said to be not very flexible, especially when it comes to food. For a reason, we are the only
            nation in the world whose citizens are capable to pack chilos of pasta into their suitcases when they go on
            holiday. Safety comes first. We'd like to incourage our countrymen and everyone to try new food, new dishes
            and
            to never stop beeing curios.</p>
        <p>For this reason we are cooperating with chefs from all over the world making special events happen at <span
                class="fst-italic">Gambero
                Rosso</span>. See our upcoming events.</p>
    </div>

    <div class="d-flex flex-column flex-lg-row align-items-start my-5 justify-content-center">
        <div class="nav flex-row flex-lg-column nav-pills me-3 mb-4" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-asia-tab" data-bs-toggle="pill" data-bs-target="#v-pills-asia"
                type="button" role="tab" aria-controls="v-pills-asia" aria-selected="true">Asian fusion</button>
            <button class="nav-link" id="v-pills-japan-tab" data-bs-toggle="pill" data-bs-target="#v-pills-japan"
                type="button" role="tab" aria-controls="v-pills-japan" aria-selected="false">Going Japan</button>
            <button class="nav-link" id="v-pills-philippines-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-philippines" type="button" role="tab" aria-controls="v-pills-philippines"
                aria-selected="false">Hello Philippines</button>
            <button class="nav-link" id="v-pills-fiorentina-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-fiorentina" type="button" role="tab" aria-controls="v-pills-fiorentina"
                aria-selected="false">La Fiorentina</button>
        </div>
        <div class="tab-content mx-auto" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-asia" role="tabpanel" aria-labelledby="v-pills-asia-tab"
                tabindex="0">
                <h3 class="pb-3">Asian fusion: gambero coming to <span class="fst-italic">Gambero Rosso</span></h3>
                <article class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="p-3 w-50">
                        <p>Best chinese chefs staying at our restaurant and showing culinary art on the basis of our
                            favorite
                            seafood.</p>
                        <p>During the event a special dish will be created and can also be ordered online.</p>
                        <p class="fst-italic">Check our site for availability.</p>
                    </div>
                    <img src="./assets/img/asia.jpg" alt="picture of shrimp between chopsticks" class="w-50 mx-auto">
                </article>
            </div>
            <div class="tab-pane fade" id="v-pills-japan" role="tabpanel" aria-labelledby="v-pills-japan-tab"
                tabindex="0">
                <h3 class="pb-3">Going Japan</h3>
                <article class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="p-3 w-50">
                        <p>This time we are not only exploring Takoyaki, octopus balls and a quintessential japanese
                            street food not only during summertime festival season.</p>
                        <p>Octopus in Japan is a very common ingredient due to sushi and co. It's almost like to
                            tomatoes to us Italians.</p>
                        <p class="fst-italic">Check our site for availability.</p>
                    </div>
                    <img src="./assets/img/japan.jpg" alt="picture of shrimp between chopsticks" class="w-50 mx-auto">
                </article>
            </div>

            <div class="tab-pane fade" id="v-pills-philippines" role="tabpanel"
                aria-labelledby="v-pills-philippines-tab" tabindex="0">
                <h3 class="pb-3">Hello Philippines</h3>
                <article class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="p-3 w-50">
                        <p>This culinary journey takes us all the way to Philippines. We'll explore traditional dishes
                            where eating with your hands is costumary. Let's explore exotic that can be such a culinary
                            delight.</p>
                        <p>During the event a special dish will be created and can also be ordered online.</p>
                        <p class="fst-italic">Check our site for availability.</p>
                    </div>
                    <img src="./img/philippines.jpg" alt="picture of shrimp between chopsticks"
                        class="w-50 mx-auto">
                </article>
            </div>
            <div class="tab-pane fade" id="v-pills-fiorentina" role="tabpanel" aria-labelledby="v-pills-fiorentina-tab"
                tabindex="0">
                <h3 class="pb-3">La Fiorentina</h3>
                <article class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="p-3 w-50">
                        <p>Full name: La Bistecca alla Fiorentina</p>
                        <p>It takes love and precision to prepare the perfect "Fiorentina" T-bone steak. </p>
                        <p class="fst-italic">This dish cannot be ordered online, as timing is crucial. Come to our
                            restaurant and enjoy immediately.</p>
                    </div>
                    <img src="./assets/img/steak.jpg" alt="picture of shrimp between chopsticks" class="w-50 mx-auto">
                </article>
            </div>
        </div>
    </div>
</section>