h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}

button {
    color: black;
    --bs-nav-pills-link-active-bg: #95322A;
    --bs-nav-pills-link-active-color: #fff;
}


/* --------------- media queries --------------- */

/* large */
@media screen and (max-width: 1199px) {
    #img-rest {
        width: 40vw
    }
}

/* medium */
@media screen and (max-width: 991px) {
    #img-rest {
        width: 100%
    }

    .rist-cont {
        width: 75vw
    }
}

/* small and x-small */
@media screen and (max-width: 767px) {
    .specials {
        width: 95vw
    }
}